<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/dashboard_manager.css">
  <link rel="stylesheet" href="/stylesheets/basic_template.css">

  <title>Dashboard</title>
</head>

<body>

  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
            DASHBOARD
          </a>
        </li>
        <li>
          <a href="/">Dashboard</a>
        </li>
        <li>
          <a href="/Employees">Employees</a>
        </li>
        <li>
          <a href="/pending-projects">Pending projects</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>

      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">



        <!-- BODY CONTENT -->
        <div class="row" style="margin-top: 5%;">
          <div class="container-fluid">
            <button class="btn btn-success" style="margin-bottom: 1em;" data-toggle="modal"
              data-target="#exampleModalLong">Add an employee</button>
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col" style="text-align: center;">Name</th>
                  <th scope="col" style="text-align: center;">Position</th>
                  <th scope="col" style="text-align: center;">Hire date</th>
                  <th scope="col" style="text-align: center;">Options</th>
                </tr>
              </thead>
              <tbody>
                <% obj.employees.forEach(function(employee){ %>
                <tr>
                  <td><%=employee.name%></td>

                  <td><%=employee.position%></td>


                  <td><%=employee.hiredate%></td>

                  <td style="text-align: center;">
                    <form method='POST' action="/deleteemployee"><input style="display: none;" type="text"
                        value='<%=employee.id%>' name="fEmployee"><button type="submit"
                        class="btn btn-sm btn-danger">FIRE</button>
                    </form>
                  </td>
                </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>

        <!-- END BODY CONTENT -->


        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Register an employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" action="/newEmployee">

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Employee name </label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="employee[name]">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Position</label>
                    <select name="employee[position]" class="form-control" id="exampleFormControlSelect1">
                      <option>Front-end</option>
                      <option>Back-end</option>
                      <option>Full-stack</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input name="employee[email]" type="text" class="form-control" id="exampleFormControlInput1"
                      placeholder="">

                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Username</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="employee[user]">
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlInput1">Password</label>
                    <input name="employee[pass]" type="password" class="form-control" id="exampleFormControlInput1"
                      placeholder="">

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-Primary">Create</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>





      </div>



    </div>

    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
  <!-- <script src="../scripts/dashboard_manager_script.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



</body>

</html>