<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Log-In</title>
</head>

<body>
    <div class="content">
        <div id="login_form">
            <h3 id='logo'>LOGIN</h3>

            <form action="/" method="POST">
                <input type="text" class="form-control" placeholder="email" id="username" name="user[user]">
                <input type="password" class="form-control" placeholder="password" id="password" name="user[password]">
                <button type="submit" class="btn btn-lg btn-outline-success" id="submit_button">Go!</button>
            </form>
        </div>
    </div>


</body>

</html>